<div
  class="flex items-center gap-8 bg-lighterBlue px-7 py-2 rounded-xl text-left justify-between text-lightBlue"
>
  <div class="info-container flex gap-5 items-center">
    <div class="rounded-full overflow-hidden w-20 h-20">
      <img src="assets/img/pic.jpg" alt="pic" class="object-cover h-full" />
    </div>
    <div class="name">
      <p class="font-bold text-sm sm:text-lg md:text-xl text-gray-800">
        {{ offer.user.username }}
      </p>
      <p class="text-sm text-gray-500">London - <span class="age">22</span></p>
    </div>
  </div>
  <div class="city">
    <p class="text-sm text-blueGray">City</p>
    <p class="font-bold text-sm sm:text-lg md:text-xl">{{ offer.city }}</p>
  </div>
  <div class="budget">
    <p class="text-sm text-blueGray">Budget</p>
    <p class="font-bold text-sm sm:text-lg md:text-xl">{{ offer.price }} DH</p>
  </div>
  <div class="availability">
    <p class="text-sm text-blueGray">Availability</p>
    <p class="font-bold text-sm sm:text-lg md:text-xl">
      {{offer.availability ? 'Immediatly' : offer.availableFrom}}
    </p>
  </div>
  <div class="type">
    <p class="text-sm text-blueGray">Type</p>
    <p class="font-bold text-sm sm:text-lg md:text-xl">{{ offer.type }}</p>
  </div>
  <div class="icon">
    <a routerLink="/offer/{{ offer.id }}">
      <img src="assets/icons/arrow-fill-blue.svg" alt="" />
    </a>
  </div>
</div>
