.item {
    display: flex;
    justify-content: space-between;
    
    &:not(:last-child) {
        margin-bottom: 10px;
    }

    div:first-child{
        display: flex;
        gap: 10px;
        align-items: center;
        color:rgb(156, 163, 175) ;
    }

    .value {
        font-weight: 600;
        color: rgb(55, 65, 81);
    }
}