<main class="container my-20">
    <div class="mb-3">
        <p class="text-sm text-gray-500 italic">{{offer?.createdDate}}</p>
        <!-- add to favorite -->
        
    </div>
    <div class="img-grid grid grid-cols-3 grid-rows-2 gap-4 h-[450px] mb-10">
        <div class="img-item col-span-2 row-span-2 rounded-lg  overflow-hidden">
            <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
        </div>
        <div class="img-item rounded-xl overflow-hidden">
            <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
        </div>
        <div class="img-item rounded-xl overflow-hidden">
            <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
        </div>
    </div>
    
    <section class="flex gap-10 mt-14">

        <div class="flex-[2]">
            <h1 class="text-4xl text-slate-800 font-bold">{{offer?.title}}</h1>
            <p class="text-lg text-gray-400 ">{{offer?.rooms}} rooms - <img class="inline w-5 ml-2 mr-1" src="assets/icons/users.svg" alt="users icon">{{offer?.rooms}}</p>
            <p class="mt-10 text-gray-700">{{offer?.description}}</p>
        </div>

        <div class="flex-[1]">
            <app-contact-card [offer]="offer"></app-contact-card>
        </div>

    </section>

</main>
