<main class="flex h-screen">
  <div
    class="place-content-center basis-1/2 md:basis-3/5 h-full bg-blue hidden sm:grid"
  >
    <img
      class="h-full object-contain"
      src="/assets/img/login-image.png"
      alt="login image"
    />
  </div>
  <div class="column basis-full md:basis-2/5 flex justify-center items-center">
    <div class="column-inner w-10/12">
      <h1 class="font-bold text-4xl mb-7">friend.ma</h1>
      <h3 class="text-2xl font-medium text-gray-600 mb-1">
        Login to your account
      </h3>
      <p class="text-sm text-gray-400">
        check the lastest offers or create one
      </p>
      <div id="google-auth-container" class="auth-container">

      </div>

      <p class="capitalize text-xs text-gray-400 text-center">
        or sign in with email
      </p>

      <div class="form-container my-7">
        <form
          class="w-full flex flex-col"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit(loginForm)"
        >
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. user@example.com" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="******" type="password" />
          </mat-form-field>
          <button
            type="submit"
            class="text-white bg-lightBlue p-4 hover:bg-blue font-medium rounded-lg text-sm"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
